:root {
    --cor-primaria: rgb(127, 157, 132);
    --cor-secundaria: rgb(42, 82, 49);
    --cor-tercearia: rgb(73, 122, 81);
    --branco: rgb(246, 246, 246);
    --preto: rgb(21, 17, 17);
    --fundo: rgb(224, 229, 222);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--preto);
}

/*Elementos padrões*/
body {
    font-family: "Poppins", sans-serif;
    background-color: var(--branco);
}

h1,
h2,
h3 {
    font-weight: 600;
    margin: 1em
        /*cima*/
        0
        /*direita*/
        0
        /*baixo*/
        0
        /*esquerda*/
    ;
}

h1 {
    font-size: 2em;
}

/*Cabeçario*/
.logo {
    font-size: 1.8em;
    font-weight: 600;
}

nav h1,
nav a {
    color: var(--cor-secundaria);
}

nav {
    padding: 2em 6em;
    justify-content: space-between;
    display: flex;
    align-items: center;
    box-shadow: var(--preto) 0px 0px 10px 0px;
}

nav ul {
    font-weight: 500;
    cursor: pointer;
    list-style: none;
    display: flex;
    align-items: center;
}

nav li {
    margin: 0 1em;
}

nav li a {
    font-size: 1.2em;
    position: relative;
    /* Permite posicionar o ::before em relação ao link */
    display: inline-block;
    /* Link pode ter largura/altura e ficar em linha */
}

nav li a::before {
    content: '';
    /* Cria o pseudo-elemento (linha) */
    position: absolute;
    /* Posiciona em relação ao <a> */
    width: 100%;
    height: 2px;
    background-color: var(--cor-secundaria);
    bottom: -5px;
    /* Fica abaixo do texto */
    transform: scaleX(0);
    /* Linha começa "escondida" */
    transform-origin: left;
    /* Animação parte da esquerda */
    transition: transform 0.4s;
}

nav li a:hover::before {
    transform: scaleX(1);
    /* Linha aparece ao passar o mouse */
}

nav li i {
    font-size: 1.4em;
    cursor: pointer;
}

/*Referencia: https://prismic-io.translate.goog/blog/css-hover-effects?_x_tr_sl=en&_x_tr_tl=pt&_x_tr_hl=pt&_x_tr_pto=tc&_x_tr_hist=true*/
.voltar:hover{
    color: var(--cor-primaria);
}

.descricaoMateria p {
    margin-bottom: 2em;
}

.horario p {
    margin-top: 2em;
    margin-bottom: 0;
    font-weight: 400;
}

.autor {
    font-weight: 500;
}

.autor a {
    font-weight: 600;
    color: var(--cor-secundaria);
}

article {
    width: 75%;
    margin: 4em auto;
}

article h1 {
    margin-top: 0.6em;
    font-size: 2.7em;
}

article h2 {
    font-size: 2em;
}

article ul {
    font-size: 1.2em;
    margin: 1em
        /*cima*/
        0
        /*direita*/
        0em
        /*baixo*/
        1em
        /*esquerda*/
    ;
}

.imgBanner {
    margin-top: 1em;
    width: 100%;
    border-radius: 15px;
}

.imgArticle{
    margin-top: 2em;
    width: 60%;
    border-radius: 1em;
}

figcaption {
    font-size: 0.8em;
}

article p {
    font-size: 1.2em;
    margin: 2em 0;
}

iframe{
    margin: 2em 0;
}

/*Footer*/
footer {
    padding: 2em 6em;
    background-color: var(--cor-primaria);
}

footer ul {
    font-size: 1.1em;
    margin-top: 1em;
    margin-bottom: 2em;
    list-style: none;
}

footer li {
    padding-bottom: 0.8em;
}

footer p {
    font-size: 1.1em;
    padding: 2em
        /*cima*/
        0
        /*direita*/
        0
        /*baixo*/
        0
        /*esquerda*/
    ;
}

footer a:hover {
    color: var(--cor-secundaria);
}

.headFooter {
    display: flex;
    justify-content: space-between;
    align-content: top;
}

.topicFooter {
    display: flex;
}

.topic {
    margin-left: 3em;
}

footer hr {
    border-color: var(--preto);
    order: none;
}

/*HOME*/
/*Banner*/
main {
    width: 80%;
    margin: 0 auto;
    padding-top: 3em;
}

.banner {
    margin-top: 2em;
    width: 100%;
    height: 65vh;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.9),
            /* base */
            rgba(0, 0, 0, 0)
            /* topo */
        ),
        url("../asserts/image/bannerAracy.png") no-repeat center center;
    background-size: cover;
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    /* organiza os itens em coluna */
    justify-content: flex-end;
    /*alinha os item pro final*/
}

.banner p,
.banner h1 {
    color: var(--branco);
}

.banner p {
    padding: 1em 3em 2em 3em;
}

.banner h1 {
    padding: 0 1.5em;
}

.flex {
    margin-top: 2em;
    margin-bottom: 6em;
    justify-content: space-between;
    display: flex;
}

.flex h2 {
    margin-bottom: 1em;
}

.box {
    background-color: var(--fundo);
    padding: 1em
        /*cima*/
        2em
        /*direita*/
        2em
        /*baixo*/
        2em
        /*esquerda*/
    ;
    margin-bottom: 2em;
    border-radius: 1em;
}

.box h3 {
    padding-bottom: 0.8em;
}

aside {
    width: 30%;
}

aside ul {
    font-size: 1.09em;
    list-style-type: none;
}

/* aside ul li::before{
    content: "♦"; Figura que eu quero substruit no list
    margin-right: 0.5em;
    margin-left: 1em;
} */

.contantMain {
    margin-left: 2em;
    width: 80%;
}

.boxMain {
    border: 0.01em var(--cor-primaria) solid;
    /* box-shadow: 2px 2px 6px 0px; */
    padding: 1em 2em 2em 2em;
    margin-bottom: 1em;
    border-radius: 1em;
}

.boxMain h3 {
    padding-bottom: 0.7em;
    font-size: 1.6em;
}

.boxMain p {
    margin-bottom: 1.5em;
}

.boxMain a {
    font-weight: 600;
}

.boxMain a:hover,
aside ul a:hover {
    transition: 0.2s;
    color: var(--cor-primaria);
}

.vejaMais {
    font-size: 0.9em;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    width: 30%;
    border: none;
    border-radius: 1em;
    padding: 0.5em 0;
    cursor: pointer;
    background-color: var(--cor-primaria);
}

.vejaMais:hover {
    transition: 1s;
    color: var(--branco);
    background-color: var(--cor-tercearia);
}